---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?q=%23food
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Connection-Hash:
      - c14292d3121a28e72b6967a0385eb28c
      X-Response-Time:
      - '3'
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":215,"message":"Bad Authentication data."}]}'
  recorded_at: Sat, 22 Oct 2016 08:36:09 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?q=%23food
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAJrbxQAAAAAAvHij7YJF1CzRHJ2OsD6touWHhko%3DwJw6AF29nhXTSFyc84354rnRqpcI8pmA7JlyALsxq510S5gqJq
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 22 Oct 2016 08:36:08 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 48d836ad5124b7c7058117cfdfb5c153
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Remaining:
      - '449'
      X-Rate-Limit-Reset:
      - '1477126268'
      X-Response-Time:
      - '70'
      X-Transaction:
      - 006b9e4500435e24
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Sat Oct 22 08:35:44 +0000 2016","id":789747050606895104,"id_str":"789747050606895104","text":"Please
        RT! #recipes #food #dessert Texas Sheet Cake Skillet https:\/\/t.co\/Ki0LkaPfo5
        https:\/\/t.co\/JGtZfr6SUZ","truncated":false,"entities":{"hashtags":[{"text":"recipes","indices":[11,19]},{"text":"food","indices":[20,25]},{"text":"dessert","indices":[26,34]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/Ki0LkaPfo5","expanded_url":"https:\/\/cortas.me\/kWz5ca","display_url":"cortas.me\/kWz5ca","indices":[60,83]}],"media":[{"id":789747046140043264,"id_str":"789747046140043264","indices":[84,107],"media_url":"http:\/\/pbs.twimg.com\/media\/CvW-wROXYAA4IC8.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CvW-wROXYAA4IC8.jpg","url":"https:\/\/t.co\/JGtZfr6SUZ","display_url":"pic.twitter.com\/JGtZfr6SUZ","expanded_url":"https:\/\/twitter.com\/bestrecipesclub\/status\/789747050606895104\/photo\/1","type":"photo","sizes":{"small":{"w":267,"h":400,"resize":"fit"},"large":{"w":267,"h":400,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":267,"h":400,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":789747046140043264,"id_str":"789747046140043264","indices":[84,107],"media_url":"http:\/\/pbs.twimg.com\/media\/CvW-wROXYAA4IC8.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CvW-wROXYAA4IC8.jpg","url":"https:\/\/t.co\/JGtZfr6SUZ","display_url":"pic.twitter.com\/JGtZfr6SUZ","expanded_url":"https:\/\/twitter.com\/bestrecipesclub\/status\/789747050606895104\/photo\/1","type":"photo","sizes":{"small":{"w":267,"h":400,"resize":"fit"},"large":{"w":267,"h":400,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":267,"h":400,"resize":"fit"}}}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/recipesclub.org\/\" rel=\"nofollow\"\u003eRSS bestrecipesclub\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":3881078434,"id_str":"3881078434","name":"Best
        recipes","screen_name":"bestrecipesclub","location":"","description":"The
        best recipes that you can find online.","url":"http:\/\/t.co\/uzJR0jJy7Q","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/uzJR0jJy7Q","expanded_url":"http:\/\/recipesclub.org","display_url":"recipesclub.org","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":4859,"friends_count":5281,"listed_count":43,"created_at":"Tue
        Oct 06 13:51:20 +0000 2015","favourites_count":7,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":36252,"lang":"es","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/651398272678924289\/UehQ_BVw_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/651398272678924289\/UehQ_BVw_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3881078434\/1444139759","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Sat
        Oct 22 08:35:42 +0000 2016","id":789747044332236800,"id_str":"789747044332236800","text":"Don''t
        forget you are what you eat! [Funny] https:\/\/t.co\/kRmimdKGLz #food #funny","truncated":false,"entities":{"hashtags":[{"text":"food","indices":[67,72]},{"text":"funny","indices":[73,79]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/kRmimdKGLz","expanded_url":"http:\/\/positivemed.com\/?p=8520","display_url":"positivemed.com\/[...]
