---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?q=%23food%20%23yum
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAAjpxQAAAAAAfsvV22B%2F8K6mBUntm8FgN0NxkfA%3DXPbHRwJCl6jx1HjX97m1jdHBhhxAmtmy6NOKBZBu68iwbaMi3k
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 23 Oct 2016 05:45:30 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - a66f7029214de82eea8e9e2880a85518
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Remaining:
      - '446'
      X-Rate-Limit-Reset:
      - '1477201740'
      X-Response-Time:
      - '60'
      X-Transaction:
      - 00cd16f600c100f0
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Sun Oct 23 05:43:48 +0000 2016","id":790066171848437760,"id_str":"790066171848437760","text":"Hit
        up @TheHalalGuys on my way home! @thehalalguyssocal #thehalaguys #ktown #koreatown
        #foodporn #foodpic #food\u2026 https:\/\/t.co\/xc0fDJ1IHz","truncated":true,"entities":{"hashtags":[{"text":"thehalaguys","indices":[56,68]},{"text":"ktown","indices":[69,75]},{"text":"koreatown","indices":[76,86]},{"text":"foodporn","indices":[87,96]},{"text":"foodpic","indices":[97,105]},{"text":"food","indices":[106,111]}],"symbols":[],"user_mentions":[{"screen_name":"TheHalalGuys","name":"The
        Halal Guys Fans","id":1925648958,"id_str":"1925648958","indices":[7,20]}],"urls":[{"url":"https:\/\/t.co\/xc0fDJ1IHz","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/790066171848437760","display_url":"twitter.com\/i\/web\/status\/7\u2026","indices":[113,136]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":304600471,"id_str":"304600471","name":"Michael
        Pao","screen_name":"MPCalamity","location":"Los Angeles","description":"#Photographer,
        #Writer, Editor-in-Chief of #GeekFashion @SuitUp_GeekOut, Owner of Rumble
        Network, #Foodie, and #Workaholic who parties in #LA","url":"https:\/\/t.co\/REyeWX3ZYE","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/REyeWX3ZYE","expanded_url":"http:\/\/suitupgeekout.com","display_url":"suitupgeekout.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":254,"friends_count":141,"listed_count":118,"created_at":"Tue
        May 24 19:54:50 +0000 2011","favourites_count":2683,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":3332,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"1A1B1F","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/302144752\/aperture.jpg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/302144752\/aperture.jpg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1367600581\/u690334864-53_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1367600581\/u690334864-53_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/304600471\/1404775646","profile_link_color":"2FC2EF","profile_sidebar_border_color":"181A1E","profile_sidebar_fill_color":"252429","profile_text_color":"666666","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":1,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Sun
        Oct 23 05:32:36 +0000 2016","id":790063353347600384,"id_str":"790063353347600384","text":"#food
        #yum #healthy #fashion #style #stylish #love #beautiful #diet #health #weightloss
        https:\/\/t.co\/5eOev8Ekmn","truncated":false,"entities":{"hashtags":[{"text":"food","indices":[0,5]},{"text":"yum","indices":[6,10]},{"text":"healthy","indices":[11,19]},{"text":"fashion","indices":[20,28]},{"text":"style","indices":[29,35]},{"text":"stylish","indices":[36,44]},{"text":"love","indices":[45,50]},{"text":"beautiful","indices":[51,61]},{"text":"diet","indices":[62,67]},{"text":"health","indices":[68,75]},{"text":"weightloss","indices":[76,87]}],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":790063350474534916,"id_str":"790063350474534916","indices":[88,111],"media_url":"http:\/\/pbs.twimg.com\/media\/CvbebmsW8AQrv6E.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CvbebmsW8AQrv6E.jpg","url":"https:\/\/t.co\/5eOev8Ekmn","display_url":"pic.twitter.com\/5eOev8Ekmn","expanded_url":"https:\/\/twitter.com\/HowNWays\/status\/790063353347600384\/photo\/1","type":"photo","sizes":{"small":{"w":640,"h":640,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":640,"h":640,"resize":"fit"},"large":{"w":640,"h":640,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":790063350474534916,"id_str":"790063350474534916","indices":[88,111],"media_url":"http:\/\/pbs.twimg.com\/media\/CvbebmsW8AQrv6E.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CvbebmsW8AQrv6E.jpg","url":"https:\/\/t.co\/5eOev8Ekmn","display_url":"pic.twitter.com\/5eOev8Ekmn","expanded_url":"https:\/\/twitter.com\/HowNWays\/status\/790063353347600384\/photo\/1","type":"photo","sizes":{"small":{"w":640,"h":640,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"mediu[...]
