---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?q=%23food%20%23yum
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 06 Nov 2016 05:03:44 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - a86e437f18b5c3092175774513ce722a
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Remaining:
      - '445'
      X-Rate-Limit-Reset:
      - '1478408724'
      X-Response-Time:
      - '61'
      X-Transaction:
      - 006944fd00e0f921
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Sun Nov 06 05:00:18 +0000 2016","id":795128652753055744,"id_str":"795128652753055744","text":"RT
        @TheEyesofaBoy: 5 Minute Fries with @beautyandbedlam --&gt;&gt; https:\/\/t.co\/CSrnP9zbtS
        #ad #YUM #fries #Food #FoodFri #FoodieFriday https:\/\/t\u2026","truncated":false,"entities":{"hashtags":[{"text":"ad","indices":[91,94]},{"text":"YUM","indices":[95,99]},{"text":"fries","indices":[100,106]},{"text":"Food","indices":[107,112]},{"text":"FoodFri","indices":[113,121]},{"text":"FoodieFriday","indices":[122,135]}],"symbols":[],"user_mentions":[{"screen_name":"TheEyesofaBoy","name":"The
        Eyes of a Boy","id":1075440950,"id_str":"1075440950","indices":[3,17]},{"screen_name":"beautyandbedlam","name":"Jen
        Schmidt","id":17397651,"id_str":"17397651","indices":[39,55]}],"urls":[{"url":"https:\/\/t.co\/CSrnP9zbtS","expanded_url":"https:\/\/goo.gl\/4dvr88","display_url":"goo.gl\/4dvr88","indices":[67,90]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/happilyblended.com\" rel=\"nofollow\"\u003eHappilyBlendedApp\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":254898971,"id_str":"254898971","name":"Erin
        Kennedy","screen_name":"MyThirtySpot","location":"Phoenix","description":"A
        website dedicated to women in their 30s and our journey. Beauty, anti-aging,
        fashion, motherhood, health, recipes, love, Life. \r\nhttp:\/\/t.co\/74hdiKGMRS","url":"http:\/\/t.co\/dKusvupQWx","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/dKusvupQWx","expanded_url":"http:\/\/www.facebook.com\/MyThirtySpot","display_url":"facebook.com\/MyThirtySpot","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/74hdiKGMRS","expanded_url":"http:\/\/www.mythirtyspot.com","display_url":"mythirtyspot.com","indices":[131,153]}]}},"protected":false,"followers_count":19566,"friends_count":6219,"listed_count":955,"created_at":"Sun
        Feb 20 06:59:15 +0000 2011","favourites_count":2921,"utc_offset":-25200,"time_zone":"Arizona","geo_enabled":false,"verified":false,"statuses_count":25539,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"DB447B","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/378800000033253450\/1d6e3afba394f401aa6440cdbfde0a9b.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/378800000033253450\/1d6e3afba394f401aa6440cdbfde0a9b.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2030183094\/my_thirty_spot_facebook_2_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2030183094\/my_thirty_spot_facebook_2_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/254898971\/1406587661","profile_link_color":"CC3366","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"F79C56","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Fri
        Nov 04 19:16:42 +0000 2016","id":794619397793075204,"id_str":"794619397793075204","text":"5
        Minute Fries with @beautyandbedlam --&gt;&gt; https:\/\/t.co\/CSrnP9zbtS #ad
        #YUM #fries #Food #FoodFri #FoodieFriday https:\/\/t.co\/6dtlZVnW9w","truncated":false,"entities":{"hashtags":[{"text":"ad","indices":[72,75]},{"text":"YUM","indices":[76,80]},{"text":"fries","indices":[81,87]},{"text":"Food","indices":[88,93]},{"text":"FoodFri","indices":[94,102]},{"text":"FoodieFriday","indices":[103,116]}],"symbols":[],"user_mentions":[{"screen_name":"beautyandbedlam","name":"Jen
        Schmidt","id":17397651,"id_str":"17397651","indices":[20,36]}],"urls":[{"url":"https:\/\/t.co\/CSrnP9zbtS","expanded_url":"https:\/\/goo.gl\/4dvr88","display_url":"goo.gl\/4dvr88","indices":[48,71]}],"media":[{"id":794619343761969152,"id_str":"794619343761969152","indices":[117,140],"media_url":"http:\/\/pbs.twimg.com\/media\/CwcOFUSWEAAFNlT.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CwcOFUSWEAAFNlT.jpg","url":"https:\/\/t.co\/6dtlZVnW9w","display_url":"pic.twitter.com\/6dtlZVnW9w","expanded_url":"https:\/\/twitter.com\/TheEyesofaBoy\/status\/794619397793075204\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":650,"h":433,"resize":"fit"},"large":{"w":650,"h":433,"resize":"fit"},"small":{"w":650,"h":433,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":794619343761969152,"id_str":"794619343761969152","indices":[117,140],"media_url":"http:\/\/pbs.twimg.com\/media\/CwcOFUSWEAAFNlT.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CwcOFUSWEAAFNlT.jpg","url":"https:\/\/t.co\/6dtlZVnW9w","display_url":"pic.twitter.com\/6dtlZVnW9w","expanded_url":"https:\/\/twitter.com\/TheEyesofaBoy\/status\/794619397793075204\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":650,"h":433,"resize":"fit"}[...]
