---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?q=%23food%20%23yum
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 15 Dec 2016 06:37:26 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - ebde7505d93a050d74aee902a2367b0f
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Remaining:
      - '449'
      X-Rate-Limit-Reset:
      - '1481784746'
      X-Response-Time:
      - '92'
      X-Transaction:
      - 00d442630022f8d5
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Thu Dec 15 06:28:46 +0000 2016","id":809284043539742720,"id_str":"809284043539742720","text":"EAT\nDRINK\nand
        be\nMERRY\n\n#eat #drink #merry #food #foodpic #holidays #quote #quotes #bread
        #beer #foodporn #yum\u2026 https:\/\/t.co\/IRCThBCD8F","truncated":true,"entities":{"hashtags":[{"text":"eat","indices":[24,28]},{"text":"drink","indices":[29,35]},{"text":"merry","indices":[36,42]},{"text":"food","indices":[43,48]},{"text":"foodpic","indices":[49,57]},{"text":"holidays","indices":[58,67]},{"text":"quote","indices":[68,74]},{"text":"quotes","indices":[75,82]},{"text":"bread","indices":[83,89]},{"text":"beer","indices":[90,95]},{"text":"foodporn","indices":[96,105]},{"text":"yum","indices":[106,110]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/IRCThBCD8F","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/809284043539742720","display_url":"twitter.com\/i\/web\/status\/8\u2026","indices":[112,135]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2541222271,"id_str":"2541222271","name":"eon","screen_name":"eonhiei","location":"","description":"","url":"https:\/\/t.co\/O1GlQHQ3bT","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/O1GlQHQ3bT","expanded_url":"http:\/\/familytravelfood.blogspot.com\/","display_url":"familytravelfood.blogspot.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":63,"friends_count":40,"listed_count":30,"created_at":"Mon
        Jun 02 10:48:33 +0000 2014","favourites_count":558,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":1663,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"1A1B1F","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme9\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme9\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/473419161943560193\/u5nbXJBM_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/473419161943560193\/u5nbXJBM_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2541222271\/1462593302","profile_link_color":"2FC2EF","profile_sidebar_border_color":"181A1E","profile_sidebar_fill_color":"252429","profile_text_color":"666666","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":1,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Thu
        Dec 15 06:14:23 +0000 2016","id":809280423691960321,"id_str":"809280423691960321","text":"#pecanpie
        #pecans #pie #yum #food https:\/\/t.co\/Nd20IPQOjv","truncated":false,"entities":{"hashtags":[{"text":"pecanpie","indices":[0,9]},{"text":"pecans","indices":[10,17]},{"text":"pie","indices":[18,22]},{"text":"yum","indices":[23,27]},{"text":"food","indices":[28,33]}],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":809280406918938625,"id_str":"809280406918938625","indices":[34,57],"media_url":"http:\/\/pbs.twimg.com\/media\/CzskPgoWQAEwtwQ.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CzskPgoWQAEwtwQ.jpg","url":"https:\/\/t.co\/Nd20IPQOjv","display_url":"pic.twitter.com\/Nd20IPQOjv","expanded_url":"https:\/\/twitter.com\/Jaqy_Q\/status\/809280423691960321\/photo\/1","type":"photo","sizes":{"medium":{"w":675,"h":1200,"resize":"fit"},"small":{"w":383,"h":680,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1152,"h":2048,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":809280406918938625,"id_str":"809280406918938625","indices":[34,57],"media_url":"http:\/\/pbs.twimg.com\/media\/CzskPgoWQAEwtwQ.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CzskPgoWQAEwtwQ.jpg","url":"https:\/\/t.co\/Nd20IPQOjv","display_url":"pic.twitter.com\/Nd20IPQOjv","expanded_url":"https:\/\/twitter.com\/Jaqy_Q\/status\/809280423691960321\/photo\/1","type":"photo","sizes":{"medium":{"w":675,"h":1200,"resize":"fit"},"small":{"w":383,"h":680,"resize":"fit"},"thumb":[...]
