---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?q=%23food%20%23yum
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 26 Oct 2016 12:53:47 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 6fc2c26da77c94338fbc7b38acab3235
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Remaining:
      - '446'
      X-Rate-Limit-Reset:
      - '1477487286'
      X-Response-Time:
      - '138'
      X-Transaction:
      - 00e7ca5100380dfe
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Wed Oct 26 12:49:42 +0000 2016","id":791260516731813888,"id_str":"791260516731813888","text":"RT
        @nurse_hatsumi: Thank you so much micah_lonelyuae for the fabulous treat!!!
        Tsup!!! #food #foodporn #yum\u2026 https:\/\/t.co\/U4yFcwQ3aY","truncated":false,"entities":{"hashtags":[{"text":"food","indices":[87,92]},{"text":"foodporn","indices":[93,102]},{"text":"yum","indices":[103,107]}],"symbols":[],"user_mentions":[{"screen_name":"nurse_hatsumi","name":"Kansas
        Walters","id":124217370,"id_str":"124217370","indices":[3,17]}],"urls":[{"url":"https:\/\/t.co\/U4yFcwQ3aY","expanded_url":"https:\/\/www.instagram.com\/p\/BMBtHOIjJWR\/","display_url":"instagram.com\/p\/BMBtHOIjJWR\/","indices":[109,132]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/www.sfxworks.net\" rel=\"nofollow\"\u003equantom_nom\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":768783064277323776,"id_str":"768783064277323776","name":"quantom_food_bot","screen_name":"quantom_nom","location":"","description":"@quantomworks''
        retweet bot! Follow me and @quantomworks with hashtags #food and #foodporn
        for increased retweet chance!! Happy noming!","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":2139,"friends_count":3,"listed_count":3164,"created_at":"Thu
        Aug 25 12:12:20 +0000 2016","favourites_count":47,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":150741,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/768787615223058432\/MD_3s3Z2_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/768787615223058432\/MD_3s3Z2_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/768783064277323776\/1472128224","profile_link_color":"2B7BB9","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Wed
        Oct 26 12:46:26 +0000 2016","id":791259694241353733,"id_str":"791259694241353733","text":"Thank
        you so much micah_lonelyuae for the fabulous treat!!! Tsup!!! #food #foodporn
        #yum\u2026 https:\/\/t.co\/U4yFcwQ3aY","truncated":false,"entities":{"hashtags":[{"text":"food","indices":[68,73]},{"text":"foodporn","indices":[74,83]},{"text":"yum","indices":[84,88]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/U4yFcwQ3aY","expanded_url":"http[...]
