---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?q=%23food
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Connection-Hash:
      - 88f5e1bed4c9344782ba9da7aa1a3db1
      X-Response-Time:
      - '105'
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":215,"message":"Bad Authentication data."}]}'
  recorded_at: Thu, 20 Oct 2016 13:32:55 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?q=%23food
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAJnTxQAAAAAAU%2BRircu8DEj49Tlhbesv5vKYY1w%3DnCIDW3ZTCk6bEN2Q4FdruTgvaZ6xUoHhKbQpHTqmsdShLFr5lY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 20 Oct 2016 13:32:55 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 0572c9dfbd7ba4d9126d4f317ac9b814
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Remaining:
      - '444'
      X-Rate-Limit-Reset:
      - '1476970540'
      X-Response-Time:
      - '76'
      X-Transaction:
      - 00baec0600683ab3
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Thu Oct 20 13:32:30 +0000 2016","id":789096961152540672,"id_str":"789096961152540672","text":"Semen
        cooking classes launched in London to promote health benefits https:\/\/t.co\/MhrqJz0ncr
        #Food #Gross https:\/\/t.co\/KBGBTX9ULM","truncated":false,"entities":{"hashtags":[{"text":"Food","indices":[92,97]},{"text":"Gross","indices":[98,104]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/MhrqJz0ncr","expanded_url":"http:\/\/www.thelondoneconomic.com\/news\/semen-cooking-classes-launched-in-london-to-promote-health-benefits\/20\/10\/","display_url":"thelondoneconomic.com\/news\/semen-coo\u2026","indices":[68,91]}],"media":[{"id":789096940923449344,"id_str":"789096940923449344","indices":[105,128],"media_url":"http:\/\/pbs.twimg.com\/media\/CvNvfKkW8AAFA1V.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CvNvfKkW8AAFA1V.jpg","url":"https:\/\/t.co\/KBGBTX9ULM","display_url":"pic.twitter.com\/KBGBTX9ULM","expanded_url":"https:\/\/twitter.com\/LondonEconomic\/status\/789096961152540672\/photo\/1","type":"photo","sizes":{"small":{"w":680,"h":454,"resize":"fit"},"medium":{"w":900,"h":601,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":900,"h":601,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":789096940923449344,"id_str":"789096940923449344","indices":[105,128],"media_url":"http:\/\/pbs.twimg.com\/media\/CvNvfKkW8AAFA1V.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CvNvfKkW8AAFA1V.jpg","url":"https:\/\/t.co\/KBGBTX9ULM","display_url":"pic.twitter.com\/KBGBTX9ULM","expanded_url":"https:\/\/twitter.com\/LondonEconomic\/status\/789096961152540672\/photo\/1","type":"photo","sizes":{"small":{"w":680,"h":454,"resize":"fit"},"medium":{"w":900,"h":601,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":900,"h":601,"resize":"fit"}}}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1593295976,"id_str":"1593295976","name":"The
        London Economic","screen_name":"LondonEconomic","location":"London ","description":"Digital
        newspaper. #Politics #Economics #Business #Travel #Sport #Lifestyle #Music
        #Tech #Film #Food","url":"http:\/\/t.co\/XEuEQDQ5Xq","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/XEuEQDQ5Xq","expanded_url":"http:\/\/www.thelondoneconomic.com","display_url":"thelondoneconomic.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":48792,"friends_count":53547,"listed_count":510,"created_at":"Sun
        Jul 14 12:36:49 +0000 2013","favourites_count":1828,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":8720,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/378800000163207855\/F6JvauJv.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/378800000163207855\/F6JvauJv.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/586167711509716992\/vSE9takl_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/586167711509716992\/vSE9takl_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1593295976\/1428589079","profile_link_color":"FF0505","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"252429","profile_text_color":"666666","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Thu
        Oct 20 13:32:28 +0000 2016","id":789096950809370624,"id_str":"789096950809370624","text":"RT
        @EnergyDepDay: Popcorn on the Cob - https:\/\/t.co\/CN7o0HgzLG #Food via @niume_official\n@NiumeTech
        #popcorn #gardening","truncated":false,"entities":{"hashtags":[{"text":"Food","indices":[63,68]},{"text":"popcorn","indices":[100,108]},{"text":"gardening","indices":[109,119]}],"symbols":[],"user_mentions":[{"screen_name":"EnergyDepDay","name"[...]
